.basket-list ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

.basket-list li {
    display: flex;
    list-style-type: none;
}

.input-quantity {
    display: flex;
    justify-content: center;
    size: 6.25rem;
}

.input-quantity input {
    border-radius: 0.4375rem;
    background-color: white;

}

.input-quantity input[type=number]::-webkit-inner-spin-button,
                input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

.quantity {
    padding: 0;
    margin: 0;
    background-color: transparent;
    width: auto;
    color: white;
}

.quantity:hover {
    background-color: transparent;
}

#inner-product-info {
    padding-right: 0.9375rem;
}

#inner-product-info li{
    display: flex;
    justify-content: space-between;
    padding: 0.3125rem 0 0.3125rem 0.3125rem;
}

.remove-item {
    position: relative;
    background-color: transparent;
    color: darkred;
    width: 50%
}

.remove-item:hover {
    background-color: transparent;
}