.basket-list {

}

.basket-list ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

.basket-list li {
    display: flex;
    list-style-type: none;
}

.input-quantity {
    display: flex;
    justify-content: center;
    /*padding: 10px;*/
    size: 100px;
}

.input-quantity input {
    border-radius: 7px;
    background-color: white;

}

.input-quantity input[type=number]::-webkit-inner-spin-button,
                input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

.quantity {
    padding: 0;
    margin: 0;
    background-color: transparent;
    width: auto;
    color: white;
}

#inner-product-info {
    padding-right: 15px;
}

#inner-product-info li{
    display: flex;
    justify-content: space-between;
    padding: 5px 0 5px 5px;
}

.remove-item {
    position: relative;
    background-color: transparent;
    color: darkred;
    width: 50%
}