body {
    background-image: linear-gradient(-90deg, #0E0024, #41004A);
    margin:0px 0 0 0;
}

main {
    margin-top:55px;
}

header a {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
}

header hr {
    margin-bottom: 0;
}


button:hover{
    opacity: 0.8;
}

.homepage-navbar {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    background-image: linear-gradient(-90deg, #0E0024, #41004A);
}
.homepage-navbar ul {
    list-style-type: none;
    padding:0;
    margin: 0;
    display:flex;
    justify-content: space-between;
    width:100%;
}
.homepage-navbar li {
    margin: 0;
    padding: 0 0px 0 0px;
}

.homepage-navbar a {
    background-color: Transparent;
    color: #e4baff;
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
    display: block;
    padding: 10px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}
.homepage-navbar a:hover {color:#ffffff }
.login-container {
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
    float: right;
    margin-right: 16px;
    color: white;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.login-container #login, #register{
    background-color: #000000;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    border-radius: 10px;
}
