.all {
    display:flex;
    justify-content: space-between;
    align-content: center;
    width:100%;
}

/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 30%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.image {
    height: 300px;
    width: 100%;
}
.bestsellers h2{
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    color: #e4baff;
}
.bestsellers p {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    color: #e4baff;
}
h1 {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    color: #e4baff;
}