.all {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.column {
    border:none;
    margin:25px;
}

.image {
    border-radius: 10px;
    cursor: pointer;
    transition: 0.1s;
    overflow:hidden;
    border-color:transparent;
    border-width: 2px;
    border-style:solid;
}

.image:hover {
    border-color: white;
    
}


.modal {
    display: none;
    position: fixed;
    padding-top: 250px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
}

.modal-image{
    width: 700px;
    height: 280px;
    padding-bottom: 136px;
    position: relative;
}

.modal-content {
    width: 100%;
    max-width: 700px;
    max-height: 700px;
    margin-left: auto;
    margin-right: auto;
}

.bestsellers h1, h2 {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    color: #e4baff;
}

.bestsellers p{
    padding:15px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    color:#e4baff;
    margin:0;
}

.bestsellers h1 {
    text-align: center;
    padding: 0 10px;
    font-size:2rem;
}

.bestsellers-pop-up p {
    margin:0;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    color: #41004A;
    background-color: white;
    height: 100%;
    max-width: 700px;
    padding: 20px;
}

.purchase-button {
    background-color: #41004A;
    border: none;
    color: #e4baff;
    padding: 15px 32px;
    text-align: center;
    display:block;
    font-size: 16px;
    font-weight:bold;
    margin: 0;
    cursor: pointer;
}
.footer {
   left: 0;
   bottom: 0;
   width: 100%;
   color: #e4baff;
   font-family: "Trebuchet MS", Helvetica, sans-serif;
   text-align: center;
}